#BUS_SORT

#S
io_in\[0\]
io_in\[1\]
io_in\[2\]
io_in\[3\]
io_in\[4\]
SEL2
io_oeb\[0\]
io_oeb\[1\]
io_oeb\[2\]
io_oeb\[3\]
io_oeb\[4\]
io_oeb\[5\]
io_oeb\[6\]
io_oeb\[7\]
io_oeb\[8\]

#WR

analog_io1
analog_io2
analog_io3

